@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');




:root{
  --text-color: #fff;
  --hover-color:  rgb(184, 159, 19);
  --light-color-alt: #2a2a2e;
  --blue-background: #2369BD;
  --primary-background-color: #0e0d0d;
  --secondary-background-color: #3a3333;
  --gradient-color: linear-gradient(
      115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
  --transparent-light-color: rgba(2, 1, 1, 0.05);
  --transparent-dark-color: rgba(0,0,0,.75);
  --font-family: 'Poppins', sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

                               /* Base styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body{
  font-family: Poppins, sans-serif;
  color: var(--text-color);
  background-color: var(--primary-background-color);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}

.container{
    max-width: 1268px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-background-color);
    z-index: 100;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.brandLogo{
    font-size: 1.9rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 12px;
    margin-right: auto;
}
.brandLogo span{
    color: coral;
}
.searchArea{
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background-color: var(--secondary-background-color);
    border-radius: 4rem;
    margin-right: 1rem;
}

.searchArea .bi-search{
    font-size: 1.1rem;
    font-weight: bold;
}

.searchArea .bi-search:hover{
    color: coral;
    cursor: pointer;
}

#searchInput{
  width: 100%;
  border: none;
  outline: none;
  color: var(--text-color);
  background: transparent;
  font-size: 0.938rem;
}

.profile{
    display: flex;
}
.userImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.sideBar{
    position: fixed;
    top: 36%;
    transform: translateY(-50%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
    background-color: var(--primary-background-color);
}

.navLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #b7b7b7;
    margin-top: -24px;
}

.navLink:hover{
    color: var(--text-color);
    transition: 0.3s all linear;
    transform: scale(1.1);
}

.active{
    color: coral;
    transition: 0.3s all linear;
    transform: scale(1.2);
    padding-left: 10px;
}

.navLink .bi{
    font-size: 1.8rem;
    margin: 5px;
}

.navLinkTitle{
    font-size: 1rem;
}

.home{
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 9.5rem;
    border-radius: 0.5rem;
}

.homeImage{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 0.5rem;
}

.homeText{
    padding-left: 40px;
}

.homeTitle{
    font-size: 2rem;
    font-weight: 600;
}

.homeText p{
    font-size: 0.938rem;
    margin: 10px 0 20px;
    color: coral;
}

.playPreview{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--text-color);
}

.playPreview .bi{
    font-size: 21px;
    background: coral;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.playPreview .bi:hover{
    background: var(--hover-color);
}

.playPreview span{
    font-size: 1rem;
    font-weight: 400;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-color-alt);
    padding: 8px 14px;
    border: 1px solid hsl(200, 100%, 99% / 5%);
    margin-top: 50px;
    margin-bottom: 3rem;
}

.headingTitle{
    font-size: 1.2rem;
    font-weight: 500;
}

.newMusicBox {
   position: relative;
   width: 100%;
   height: 380px;
   overflow: hidden;
  }

  .newMusicBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .newMusicBox .newMusicText{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px;
    overflow: hidden;
    background: linear-gradient(8deg, hsla(240, 17%, 14%, 0.308) 14%,
    hsla(240, 17%, 14%, 0.671) 44%);
  }

  .musicTitle{
    font-size: 1.28rem;
    font-weight: 600;
  }

  .genre{
   font-size: 0.9rem; 
   font-weight: 400;
  }

  .swipeButtons{
    display: flex;
  }

  .swiper-button-next,
  .swiper-button-prev{
    position: static !important;
    margin: 0 0 0 10px !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after{
    color: var(--text-color);
    font-size: 18px !important;
    font-weight: 700;
  }